*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 1.5rem;
    background-color: rgba(0, 255, 255, 0.253);
}

.container{
    padding: 20px 10rem;
    text-align: center;
}   

.forms{
    padding: 20px 10rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    
}

